html , body  , div ,ul ,ol ,li ,p , h1,h2,h3,form,input,textarea,table,tr ,td ,th {
    padding: 0;
    margin: 0;
}

ul ,ol {
    list-style: none;
}

input , button , textarea {
    border:0;
    outline: none;
}

a,
a:link ,
a:visited ,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
}


/* 公共类名  */
.f_left {
    float: left;
}
.f_right {
    float: right;
}
.clearfix::after {/* 伪类清除浮动 */
    content:"";
    display: block;
    clear: both;
    height: 0;
    opacity: 0;
}
